body {
	background-color: #FDFDFD;
}


.logo {
	background-image: url(img/Logo.svg);
  	display: block;
  	width: 111px;
  	height: 24px;
}

.head {
	position: fixed;
	width: 100vw;
	height: 56px;
	background-color:  #fff;
	box-shadow: 0 2px 8px 0 rgba(0,0,0,0.24);
}


.flex-head {
	display: flex;
	height: 56px;
	justify-content: space-between;
	align-items: center;
	padding: 0px 48px;
}


.head_title {
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
}

.dropbtn {
	background-color: transparent;
    color: #232323;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0;
    padding-right: 2px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


.triangle-right {
	display: inline-block;
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-left: 6px solid #232323;
	border-bottom: 5px solid transparent;
}


.dropdown {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #fff;
	min-width: 148px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	right: 0;

}


.dropdown-content a {
	color: #232323;
	padding: 12px 16px;
	text-align: left;
	text-decoration: none;
	display: block;
}


.dropdown-content a:hover {
	background-color: #FF5A00;
	color: #fff;
}

.triangle-right:hover {
	transform: rotate(90deg);
	transition: .2s;
}



.dropdown:hover .dropdown-content {
	display: block;
}

.catalog_section {
	padding-top: 104px;
	padding-left: 48px;
	padding-right: 48px;

}


.card_catalog {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-basis: 15%;
	min-width: 320px;
	height: 210px;
	box-shadow: 0 4px 12px 0 rgba(0,0,0,0.2);
    transition: 0.2s;
    margin-right: 24px;
    margin-bottom: 24px;
    overflow: hidden;

}

.card_catalog:hover {
	background-color: #fff;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.2);
	transform: translateY(-7px);
	transition-delay: 0.1s;
	cursor: pointer;
}

.btn_card {
	position: absolute;
	text-decoration: none;
  	outline: none;
  	bottom: -60px;
  	opacity: 0;
  	transition-property: bottom, opacity;
  	width: 180px;
  	height: 48px;
  	line-height: 45px;
  	font-size: 11px;
  	text-transform: uppercase;
  	text-align: center;
  	letter-spacing: 1px;
  	font-weight: 600;
  	color: #232323;
  	border: 1px solid #232323;
  	transition: 0.4s;
}

.btn_card:hover {
	background: #232323;
  	color: white;
}


.card_catalog:hover .btn_card {
	bottom: 75px;
	opacity: 1;
}


.card_catalog:hover .card_title {
	opacity: 0;

}

.card_catalog:hover .triangle {
	position: absolute;
	bottom: 0;
	right: -80px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 80px 80px;
	border-color: transparent transparent #ff5900 transparent;
	opacity: 0;
}

.card_title {
	transition-property: top;
	font-size: 18px;
	letter-spacing: 0.4px;
	font-weight: 600;
	line-height: 1.4em;
	text-transform: uppercase;
	transition: 0.3s;
/*	transition-delay: 0.1s;*/
}



.flex-catalog {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;

}

.triangle {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 0;
	height: 0;
	transition-property: right, opacity;
 	-webkit-transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
 	transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
	border-style: solid;
	border-width: 0 0 80px 80px;
	border-color: transparent transparent #ff5900 transparent;
	transition: 0.3s;
	transition-delay: 0.1s;

}


.title_test {
	font-size: 24px;
	font-weight: 600;
	padding-bottom: 24px;
}

